*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(31, 29, 29);
}

.main-container {
    width: 37.5%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.container-slide {
    display: flex;
    width: 100%;
}

#prevBtn {
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 2.5%;
    font-size: 30px;
    color:rgb(237, 77, 77);
    cursor: pointer;
    background:none;
}

#nextBtn {
    position: absolute;
    top: 45%;
    z-index: 10;
    right: 2.5%;
    font-size: 30px;
    color:rgb(237, 77, 77);
    cursor: pointer;
    background: none;
}